numpy>=2.0.0  # Versión requerida por OpenCV 4.12+
opencv-contrib-python==4.12.0.88  # O usa opencv-python-headless si no necesitas contrib
streamlit>=1.32.0
tensorflow>=2.15.0
matplotlib>=3.8.0
pandas>=2.1.0
fpdf>=1.7.2
pytz>=2023.3